{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Rango</title>
</head>

<body>
    <h1>Rango says...</h1>
    <p>Rango says hey there partner!</p>


    <img src="{% static 'images/rango.jpg' %}" alt="Rango">

    <div>
        hey there partner! <br />
        <strong>{{ boldmessage }}</strong>
    </div>

    <div>
        <a href="/rango/about/">About</a>
    </div>

    <div>
        {% if categories %}
            <ul>
                {% for category in categories %}
                    <li>{{ category.name }} - {{ category.likes }} likes</li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>No categories present.</strong>
        {% endif %}
    </div>

    {% if user.is_authenticated %}
        Welcome, {{ user.username }}
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
    
    {% if user.is_authenticated %}
        Welcome, {{ user.username }}
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'rango:register' %}">Register</a>
    {% endif %}
    



</body>
</html>
